Repository QuasarApp/CQtDeployer, pull requests merged in 2020-06, with the labels that each got.

#384 Support spaces in Linux executable name
  Deploy/metafilemanager.cpp
  UnitTests/testRes/TestQMLWidgets.sh
Labels: Bug

#383 V1.4
  .gitignore
  CMakeLists.txt
  Deploy/Deploy.pro
  Deploy/metafilemanager.cpp
  QIFData/config/configLinux.xml
  QIFData/config/configWin.xml
  QIFData/packages/cqtdeployer.1_4/meta/package.xml
  UnitTests/testRes/TestQMLWidgets.sh
  snap/gui/cqtdeployer.desktop
  snap/snapcraft.yaml
Labels: Bug, Doc, Enhancement, Linux, Windows

#385 V1.5
  .gitignore
  CMakeLists.txt
  Deploy/Deploy.pro
  Deploy/metafilemanager.cpp
  QIFData/config/configLinux.xml
  QIFData/config/configWin.xml
  QIFData/packages/cqtdeployer.1_4/meta/package.xml
  UnitTests/testRes/TestQMLWidgets.sh
  snap/gui/cqtdeployer.desktop
  snap/snapcraft.yaml
Labels: Bug, Linux, Windows
