Repository QuasarApp/CQtDeployer, pull requests merged in 2021-03, with the labels that each got.

#544 Added supports icons for targets.
  Deploy/DeployResources.qrc
  Deploy/Distributions/Templates/Icon.ico
  Deploy/Distributions/idistribution.cpp
  Deploy/Distributions/qif.cpp
  Deploy/configparser.cpp
  Deploy/configparser.h
  Deploy/dependenciesscanner.cpp
  Deploy/deploycore.cpp
  Deploy/deploycore.h
  Deploy/distromodule.cpp
  Deploy/distromodule.h
  Deploy/extracter.cpp
  Deploy/packing.cpp
  Deploy/targetinfo.cpp
  Deploy/targetinfo.h
  UnitTests/res.qrc
  UnitTests/testRes/TestIcon.png
  UnitTests/tst_deploytest.cpp
  docs/en/Options.md
  docs/ru/Options.md
Labels: Enhancement, Linux, Windows

#545 v 1.5.0.25
  Deploy/Deploy.pro
  Deploy/DeployResources.qrc
  Deploy/Distributions/Templates/Icon.ico
  Deploy/Distributions/idistribution.cpp
  Deploy/Distributions/qif.cpp
  Deploy/configparser.cpp
  Deploy/configparser.h
  Deploy/dependenciesscanner.cpp
  Deploy/deploycore.cpp
  Deploy/deploycore.h
  Deploy/distromodule.cpp
  Deploy/distromodule.h
  Deploy/extracter.cpp
  Deploy/packing.cpp
  Deploy/targetinfo.cpp
  Deploy/targetinfo.h
  QIFData/config/configLinux.xml
  QIFData/config/configWin.xml
  QIFData/packages/cqtdeployer.1_5/meta/package.xml
  UnitTests/res.qrc
  UnitTests/testRes/TestIcon.png
  UnitTests/tst_deploytest.cpp
  docs/en/Options.md
  docs/ru/Options.md
  snap/gui/cqtdeployer.desktop
  snap/snapcraft.yaml
Labels: Enhancement, Linux, Windows

#547 Fix guide
  docs/en/Guide.md
  docs/ru/Guide.md
Labels: Doc

#548 Add key words
  docs/index.md
Labels: Doc

#552 V1.5
  CQtDeployer.pro
  Deploy/deploycore.cpp
  Deploy/deploycore.h
  Deploy/pluginsparser.cpp
  Deploy/pluginsparser.h
  UnitTests/modulesqt513.cpp
  UnitTests/modulesqt513.h
  UnitTests/testRes/testMultiPackageConfig.json
  UnitTests/tst_deploytest.cpp
  docs/en/Guide.md
  docs/index.md
  docs/ru/Guide.md
  tests/virtualkeyboard/basic/Basic.qml
  tests/virtualkeyboard/basic/basic-b2qt.qml
  tests/virtualkeyboard/basic/basic.pro
  tests/virtualkeyboard/basic/content/AutoScroller.qml
  tests/virtualkeyboard/basic/content/FloatingButton_Active.svg
  tests/virtualkeyboard/basic/content/FloatingButton_Available.svg
  tests/virtualkeyboard/basic/content/FloatingButton_Unavailable.svg
  tests/virtualkeyboard/basic/content/HandwritingModeButton.qml
  tests/virtualkeyboard/basic/content/TextArea.qml
  tests/virtualkeyboard/basic/content/TextField.qml
  tests/virtualkeyboard/basic/demo.qrc
  tests/virtualkeyboard/basic/main.cpp
  tests/virtualkeyboard/virtualkeyboard.pro
Labels: Bug

#555 ref #549 "added qmldir scanner"
  Deploy/configparser.cpp
  Deploy/configparser.h
  Deploy/deployconfig.cpp
  Deploy/deployconfig.h
  Deploy/extracter.cpp
  Deploy/qml.cpp
  Deploy/qml.h
  UnitTests/UnitTests.pro
  UnitTests/modules.h
  UnitTests/modulesqt513.cpp
  UnitTests/modulesqt515.cpp
  UnitTests/modulesqt5152.cpp
  UnitTests/modulesqt5152.h
  UnitTests/res.qrc
  UnitTests/testRes/qml/qmldir
  UnitTests/tst_deploytest.cpp
Labels: Bug, Linux, Windows

#557 V1.5
  Deploy/Deploy.pro
  Deploy/configparser.cpp
  Deploy/configparser.h
  Deploy/deployconfig.cpp
  Deploy/deployconfig.h
  Deploy/extracter.cpp
  Deploy/qml.cpp
  Deploy/qml.h
  QIFData/config/configLinux.xml
  QIFData/config/configWin.xml
  QIFData/packages/cqtdeployer.1_5/meta/package.xml
  UnitTests/UnitTests.pro
  UnitTests/modules.h
  UnitTests/modulesqt513.cpp
  UnitTests/modulesqt515.cpp
  UnitTests/modulesqt5152.cpp
  UnitTests/modulesqt5152.h
  UnitTests/res.qrc
  UnitTests/testRes/qml/qmldir
  UnitTests/tst_deploytest.cpp
  snap/gui/cqtdeployer.desktop
  snap/snapcraft.yaml
Labels: Bug, Linux, Windows
